body{
    background:#a4bfd1;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

h1,h2{
    font-family: "Impact";
    color:#a63b35;
    text-transform:uppercase;
    margin: 1% 2.5%;
}

p{
    margin: 1% 3%;
    font-family: "Raleway";
}

h2{
    color:#3e94b2;
    border-bottom: 2px solid #3e94b2;
}

.main-content{
    background: #fbf1da;
    flex-grow: 1;
}

.slice-container{
    background: none;
    width: 96%;
    margin: 0 2%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.spinner-center{
    height: 12.5%;
    width: 12.5%;
    border-radius: 50%;
    background: #ffb629;
    z-index: 20;
    position: absolute;
    align-self: center;
    left: 43.75%;
}

.spinner{
    width: 780px;
    height: 780px;
    border-radius: 50%;
    color: white;
    overflow: hidden;
    display: flex;
    position: relative;
}

.slice{
    background: rgba(0,0,0,0);
    height: 50%;
    width: 50%;
    position: absolute;
    transform-origin: bottom right;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skewed-slice{
    height:100%;
    width: 100%;
    background: rgba(0,0,0,.10);
    position: relative;
    transform-origin: bottom right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 5% 0 50%;
}

.slice:nth-child(even) .skewed-slice{
    background: rgba(0,0,0,.15);
}

.circle{
    border-radius: 50%;
    width:800px;
    margin: 0 1%;
    height: 800px;
    position: relative;
    top: 100px;
    background: #ffb629;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 45px -10px rgba(231,166,26,1);
}

.window{
    height: 400px;
    background: #143bf8;
    display: inline-block;
    width: 200px;
    border-radius: 40% 40% 0 0;
}

.window:hover{
    background: #02e8f4;
}