<span class="filler"></span>
<div class="focus-text">
    <h4>About Me:</h4>
    <p class="two-thirds">I'm ultimately just a programer trying his hand at being a designer. I do webwork mostly, but I'm proficient in Java and sort of ok with Python and Matlab. My biggest interests are graphics and AI, but I also enjoy working on web apps.  Feel free to give me a call if you got a million dollar idea you want to pitch.</p>
</div>
<span class="filler"></span>
<span class="filler"></span>