<span class="filler"></span>
<p class="big-text" id="title">BLOG.</p>
<a id="down-arrow"><i class="material-icons icon-circle-inverse">arrow_downward</i></a>
<span class="filler"></span>
<span class="filler"></span>