<span id="posts"></span>
<div class="post">
    <h2>Past Projects</h2>
    <div class="card-container">
        {{#each cards}}
        <div class="card">
            <h3>{{name}}</h3>
            <img src="{{img}}">
            <p class="card-description">{{desc}}</p>
            <a class="card-link" href="{{link}}">Link</a>
        </div>
        {{/each}}
    </div>
</div>